body {
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

}

table, tr {
    border-style: solid;
    border-width: 1px;
    border-color: #6d6d6d;
    table-layout: fixed;
    border-radius: 5px 5px;
}

table {
    margin: 40px;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 0.6rem;
    border-bottom: 1px solid #6d6d6d;
    text-align: left;
}

.inactive-text {
color: #6d6d6d;
}

td:last-child {
    text-align: right;  
    pointer-events: none;  
}

td img{
    width: 15px;
    height: 15px;
}
select {
  background: url('resources\images\sort-down.png');
  border: none;
  color: white;
}
